body {
  padding: 10px;
}

li {
  display: grid;
  grid-template-columns: 400px 70px 70px;
  gap: 10px;
}

h1 {
  text-align: center;
}

.top-btns {
  display: flex;
  place-content: space-between;
}

#add-workout-btn {
  margin-left: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#checkbox-completed {
  margin-right: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}